# Finder cache files
.DS_Store

# emacs droppings
*~
\#*
.\#*

# Debug symbol directories
*.dSYM

# Xcode droppings
*.xcuserdatad
*.xcuserdata
*.xcworkspace
*.xcuserstate

# Excel droppings
~$*

# Build directories.
build/
